{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="container">
        <form class="inline-group" align="center" method="get">

            <label class="required">Start Date:</label>
            <input type="date" class="vDateField" name="start_date" value="">

            <label class="required">End Date:</label>
            <input type="date" class="vDateField" name="end_data" value="">

            <div class="form-row submit-row">
                <input type="submit" name="calculate" value="Calculate">
            </div>
        </form>

        {% if average_throughput and average_turnaround_time %}
        <div class="jumbotron" align="center">
            <h3>{{ average_throughput }}</h3>
            <h3>{{ average_turnaround_time }}</h3>
        </div>
        {% endif %}
    </div>


{% endblock %}
